.page-header {
  background: $white;
}

.page-header-extra {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.mobile-header {
  padding: 12px 16px;
  background: #f9f9f9;
  border-bottom: 1px solid #dce0e4;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: bold;
}

.extra-item {
  margin: 0 5px;
  flex: 1;
}

.header-back {
  margin-right: 12px;
}