.container {
  width: 100%;
  min-height: 100vh;
}


:global {
  .layout {
    min-height: 100vh;
    position: relative;
  }

  .right {
    position: relative;
    margin-left: 200px;
    transition: margin-left .3s;

    &.collapsed {
      margin-left: 80px;
    }
  }

  .logo {
    // height: 48px;
    margin: 24px 16px 16px;
    text-align: center;

    & img {
      // height: 48px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .trigger {
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $danger;
    }
  }

  .ant-layout-sider-collapsed {
    & .logo {
      height: 32px;
      margin: 24px 7px 16px;

      & img {
        // height: 32px;
        width: 100%;
      }
    }
  }

}